@model IEnumerable<Car_Rental_System.Models.carreg>

@{
    ViewBag.Title = "Index";
}

<h2>All The Data</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" });

</p>
<table class="table">
    <tr>
        <th>
            Car Number
        </th>
        <th>
            Make
        </th>
        <th>
           Model
        </th>
        <th>
            Available
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.carno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.make)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.available)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id}, new { @class = "btn btn-warning btn-sm" }) 
            @Html.ActionLink("Details", "Details", new { id=item.id }, new { @class = "btn btn-danger btn-sm" }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.id }, new { @class = "btn btn-info btn-sm" })
        </td>
    </tr>
}

</table>
